body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/back.png);
  background-color: rgba(0,0,0,0.7);
  scroll-behavior: smooth!important;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header .logo img {
  margin: 15px 0px 15px 0px;
}

.header-bottom.header-sticky {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-bottom.header-sticky.sticky-bar {
  background-color: rgba(95, 30, 29, 0.6);
}

.home.container {
  padding-top: 150px;
  min-height: 100vh;
}

.slicknav_hidden {
  display: none!important;
}

.slicknav_nav {
  transition: all 3s linear;
}

.hero-content h1,
.hero-content h2,
.hero-content h3,
.hero-content h4,
.hero-content h5,
.hero-content h6 {
  color: white;
}

.hero-content p {
  color: rgb(200, 200, 200);
}

.footer-padding {
  padding-top: 150px!important;
}

.footer-area .footer-tittle ul li span {
  color: #A5A7C5;
  cursor: pointer;
  font-size: 16px;
}

.about-area2 .about-caption .about-icon {
  width: auto;
  background: transparent;
}

.mt--50 {
  margin-top: -30px!important;
}

.orderback {
  background-color: rgba(255, 255, 255, 0.9);
}

.pb-bottom {
  padding-bottom: 10px!important;
}

.section2 > h1 {
  font-size: 4em;
  letter-spacing: 0.4em;
  color: #17a2b8;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

.section2 .carousel .row .desc > div {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0px 5px;
  height: 100%;
}

.section2 .carousel .row .desc > div h1 {
  font-size: 2em;
  color: #17a2b8!important;
  min-height: 3em;
}

.section2 .carousel .row .desc > div p {
  color: #28a745!important;
  font-size: 12px;
}

.section2 .carousel .row .desc {
  margin-bottom: 30px;
}

.section2 .carousel .carousel-control-prev,
.section2 .carousel .carousel-control-next {
  width: 5%!important;
}
/* Google Map */
.map-h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem!important;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}
/* Google Map End */

@media (max-width: 1600px) {
  body {
    font-size: 8px!important;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 5px!important;
  }

  .menubar {
    display: none;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 4px!important;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 3px!important;
  }
}

.rotateme {
  position: absolute;
  animation: rotateme 60s infinite;
}

@keyframes rotateme {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}